// site colors
$site-purple: #540d6e;
$site-pink: #ee4367;
$site-yellow: #ffd140;
$site-teal: #3bceab;
$site-green: #08ad69;
$site-white: #ffffff;

$site-black: #000000;
$site-blue: #79addc;

$site-full-width: 1280px;
