.three-columns {
  clear: both;
  max-width: 900px;
  height: 80%;
  margin: 0;
  padding: 1px 0 0 0; }
  .three-columns .destination-pic {
    width: 150px;
    height: 150px; }
  .three-columns .column1 {
    max-width: 50px;
    float: left;
    width: 33.33%;
    height: auto;
    padding: 5px; }
  .three-columns .column2 {
    max-width: 70px;
    float: left;
    width: 33.33%;
    height: auto;
    padding: 5px; }
  .three-columns .column3 {
    max-width: 90px;
    float: left;
    width: 33.33%;
    height: auto;
    padding: 5px; }
