.three-columns {
  max-width: 900px;
  padding: 0 0 0 0;
  display: flex;

  justify-content: space-between;
  margin: 0 auto;
  min-height: 304px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.column1 {
  width: 236px;
  height: 304px;
  position: relative;
  height: auto;
}

.column2 {
  width: 236px;
  height: 304px;
  position: relative;
  height: auto;
}

.column3 {
  width: 236px;
  height: 304px;
  position: relative;
  height: auto;
}

.destination-pic1 {
  width: 236px;
  height: 304px;
  position: absolute;
  margin-top: -50px;
  background-image: linear-gradient(
      to right,
      rgba($site-black, 0.4),
      rgba($site-black, 0.4)
    ),
    url('../images/tour/tour-01.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.destination-pic2 {
  width: 236px;
  height: 304px;
  position: absolute;
  margin-top: -50px;
  background-image: linear-gradient(
      to right,
      rgba($site-black, 0.4),
      rgba($site-black, 0.4)
    ),
    url('../images/tour/tour-02.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.destination-pic3 {
  width: 236px;
  height: 304px;
  position: absolute;
  margin-top: -50px;
  background-image: linear-gradient(
      to right,
      rgba($site-black, 0.4),
      rgba($site-black, 0.4)
    ),
    url('../images/tour/tour-03.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  border: 0;
}

.destination-name {
  position: relative;
  // align-items: center;
  font-size: 60px;
  color: $site-white;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  .price {
    color: $site-white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
  }

  .button {
    padding: 10px 25px;
    background-color: $site-blue;
    text-decoration: none;
    color: $site-white;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
  }
}
.form {
  max-width: 900px;
  margin: 0 auto;
}

.form-title {
  font-size: 60px;
  text-align: left;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

.country-input-container {
  margin-right: 25px;
}

.left-row {
  margin-right: 25px;
}

.name-input {
  width: 365px;
  height: 58px;
  padding-left: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.country-input {
  width: 365px;
  height: 58px;
  padding-left: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.email-input {
  width: 100%;
  height: 58px;
  padding-left: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.hotel-input-container {
  width: 100%;
}

.date-input-container {
  width: 100%;
}

.hotel-input {
  width: 100%;
  height: 58px;
  padding-left: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.hotel-label {
  width: 116px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.date-input {
  width: 100%;
  height: 58px;
  padding-left: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.right-row {
  width: 100%;
}

.name-email-row {
  display: flex;
}

.country-hotel-row {
  display: flex;
}

.hotel-date-container {
  display: flex;
}

.room-type-container {
  display: flex;
  height: 90px;
}

.adult-container {
  display: flex;
  align-items: center;
  width: 100%;
  float: right;
}

.adult-selection {
  display: flex;
  width: 102px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.adult-input {
  align-items: center;
  width: 103px;
  height: 58px;
  padding-left: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.children-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.children-selection {
  display: flex;
  width: 150px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  padding-left: 30px;
}
.children-input {
  align-items: center;
  width: 103px;
  height: 58px;
  padding-left: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.room-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 70px;
  margin-left: 20px;
}

.room-selection {
  display: flex;
  width: 150px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  padding-left: 30px;
}

.rooms {
  padding-left: 50px;
}

.rooms-input {
  width: 103px;
  height: 58px;
  padding-left: 30px;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.message-container {
  display: inline-block;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;

  textarea {
    display: block;

    width: 100%;
    height: 192px;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Amatic SC';
  }
}

.submit-button {
  padding-top: 40px;
  padding-bottom: 100px;
}

.submit {
  background-color: $site-blue;
  text-decoration: none;
  color: $site-white;
  font-size: 15px;
  border-radius: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 48%;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1000px) {
  .three-columns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    .column1 {
      margin: 70px 0;
    }

    .column2 {
      margin: 70px 0;
    }

    .column3 {
      margin: 70px 0;
    }
  }
}
